/* Main Stylesheet */
/* Import Bootstrap styles and Responsive styles */
@import url('bootstrap.css');


/* Add top padding for navbar-top-fixed */
body {
	overflow: hidden;
}



.resultfix{
  margin:10px;
  margin-right: 85px;
  margin-left: 85px;
  color: #808080;
}

.container {
  padding-left: 10px;
  padding-right: auto;
}

.pull-right {
  margin-right: 10px;
}

.span2 {
  padding: 15px;
}

/* mymap class */
.mymap  {
  position: absolute; 
  margin-top: 40px;
  margin-left: 245px;
  min-width: 200px;
  min-height: 200px;
  overflow: hidden;
}
#sidebar {
  font-size: small;
  position: absolute; 
  margin-top: 40px;
  margin-left: 5px auto;
  width:  245px;
  height: 90%;
  overflow: auto;
  background: #f2f2f2; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNGM0YzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f2f2f2 0%, #c4c4c4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#c4c4c4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f2f2 0%,#c4c4c4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f2f2 0%,#c4c4c4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f2f2 0%,#c4c4c4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f2f2 0%,#c4c4c4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-8 */

}
/* AJAX Loader overlay */
#ajaxoverlay
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 0px;
    margin-top: 0px;
}
#ajaxgif
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(0,0,0,0);
    color: white;
    position: absolute;
    left: 48%;
    top: 48%;
    margin-left: 0px;
    margin-top: 0px;
}
/* Overlay */
.overlay{
  display:block;
  text-align:center;
  color:black;
  font-size:12px;
  line-height:20px;
  opacity:0.9;
  background:#f2f2f2;
  border:solid 1px #000044;
  border-radius:6px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 20px;
  position: relative;
  top: -15px;
  z-index: 300;
}
.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-16px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  opacity: 0.75;
  border-top:16px solid black;
}
/* my map id*/
#map img {
  max-width: none;
}

#ransacktabbar{
  margin-top: 40px;
  min-width: 200px;
  width: 200px;
}


/*Search CSS*/

/* Overlay */
.small_image{
  width: 62px;
  height: 62px;
}


.icon_pin{
  margin-left: 10;
  margin-top: 10;
}

.border1{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: #797979;
  border-width: 1px; 
  border-style: solid;
  background-color: #ebebeb;
  margin: 6px;
  padding: 6px;
  margin-right: 15px;
}



