/* Main Stylesheet */
/* Import Bootstrap styles and Responsive styles */
@import url('bootstrap.css');
@import url('bootstrap-responsive.css');

/* Add top padding for navbar-top-fixed */
body {
  padding-top: 40px;
  padding-left: 200px;
 /* padding-bottom: 40px; */
  }
/* Remove top padding when top navbar goes static in narrow viewports */
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

.span2 {
  padding: 10px;
}

/* mymap class */
.mymap  {
  width: 100%;
  min-width: 600px;
  height: 100%;
  min-height: 800px;
}

/* my map id*/
#map img {
  max-width: none;
}

