/* Main Stylesheet */
/* Import Bootstrap styles and Responsive styles */
@import url('bootstrap.css');


/* Add top padding for navbar-top-fixed */
body {
	overflow: hidden;
}



.resultfix{
  margin:5px;
  margin-top: 5px;
  margin-right: 80px;
  margin-left: 45px;
  color: #808080;
  font-size: large;
  overflow: none;
}

.container {
  padding-left: 10px;
  padding-right: auto;
}

.pull-right {
  margin-right: 10px;
}

.span2 {
  padding: 15px;
}

/* mymap class */
.mymap  {
  position: absolute; 
  margin-top: 40px;
  margin-left: 30px;
  min-width: 200px;
  min-height: 200px;
  overflow: hidden;
}

#sidebar {
  background-color: #ebebeb;
  border: 2px solid;
  border-color: #c4c4c4;
  box-shadow: 3px 3px 8px #999999;  
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;  
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;     
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;  
  -webkit-box-shadow: inset -45px 0px 20px -30px rgba(50, 50, 50, 0.3);
  box-shadow: inset -45px 0px 20px -30px rgba(50, 50, 50, 0.15);
  float: left;
  margin-right: 0%;  
  padding: 15px;
  position: fixed; 
  left: -280px;
  text-align: left;  
  top: 40px;
  width: 280px;
  overflow: auto;
}

.border1{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: #797979;
  border-width: 1px; 
  border-style: solid;
  margin: 6px;
  margin-left: 45px;
  padding: 6px;
  margin-right: 15px;
  width: 202px;
}



/* AJAX Loader overlay */
#ajaxoverlay
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 0px;
    margin-top: 0px;
}
#ajaxgif
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(0,0,0,0);
    color: white;
    position: absolute;
    left: 48%;
    top: 48%;
    margin-left: 0px;
    margin-top: 0px;
}
/* Overlay */
.overlay{
  display:block;
  text-align:center;
  color:black;
  font-size:12px;
  line-height:20px;
  opacity:0.9;
  background:#f2f2f2;
  border:solid 1px #000044;
  border-radius:6px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 20px;
  position: relative;
  top: -15px;
  z-index: 300;
}
.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-16px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  opacity: 0.75;
  border-top:16px solid black;
}
/* my map id*/
#map img {
  max-width: none;
}


/* Overlay */
.small_image{
  width: 62px;
  height: 62px;
}


.icon_pin{
  margin-left: 10;
  margin-top: 10;
}




