/* Main Stylesheet */
/* Import Bootstrap styles and Responsive styles */
@import url('bootstrap.css');
@import url('bootstrap-responsive.css');

/* Add top padding for navbar-top-fixed */
body {
 /* padding-bottom: 40px; */
  }
/* Remove top padding when top navbar goes static in narrow viewports */
@media (max-width: 979px) {
  body {
    padding-top: 0;
    overflow: hidden;
  }
}

.span2 {
  padding: 10px;
}

/* mymap class */
.mymap  {
  position: absolute; 
  margin-top: 40px;
  margin-left: 220px;
  min-width: 200px;
  min-height: 200px;
  overflow: hidden;
}
#sidebar {
  position: absolute; 
  margin-top: 40px;
  margin-left: 5px auto;
  width:  220px;
  height: 90%;
  overflow: auto;
}
/* AJAX Loader overlay */
#ajaxoverlay
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 0px;
    margin-top: 0px;
}
#ajaxgif
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(0,0,0,0);
    color: white;
    position: absolute;
    left: 48%;
    top: 48%;
    margin-left: 0px;
    margin-top: 0px;
}
/* Overlay */
.overlay{
  display:block;
  text-align:center;
  color:black;
  font-size:12px;
  line-height:20px;
  opacity:0.9;
  background:#f2f2f2;
  border:solid 1px #000044;
  border-radius:6px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 20px;
  position: relative;
  top: -15px;
  z-index: 300;
}
.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-16px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  opacity: 0.75;
  border-top:16px solid black;
}
/* my map id*/
#map img {
  max-width: none;
}

#ransacktabbar{
  margin-top: 40px;
  min-width: 200px;
  width: 200px;
}


/*Search CSS*/

/* Overlay */
.small_image{
  width: 62px;
  height: 62px;
}


.icon_pin{
  margin-left: 10;
  margin-top: 10;
}

.border1{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: #797979;
  border-width: 1px; 
  border-style: solid;
  background-color: #ebebeb;
  margin: 6px;
  padding: 5px;
}



