/* Main Stylesheet */
/* Import Bootstrap styles and Responsive styles */
@import url('bootstrap.css');
@import url('bootstrap-responsive.css');

/* Add top padding for navbar-top-fixed */
body {
 /* padding-bottom: 40px; */
  }
/* Remove top padding when top navbar goes static in narrow viewports */
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

.span2 {
  padding: 10px;
}

/* mymap class */
.mymap  {
  margin-top: 40px;
  margin-left: 0px;
  min-width: 200px;
  min-height: 200px;
}

/* my map id*/
#map img {
  max-width: none;
}

#ransacktabbar{
  margin-top: 40px;
  min-width: 200px;
  width: 200px;


}